body{
    background-image: url(bg.jpg);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.title{
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
}

.nameblock{
    display: flex;
    justify-content: space-evenly;
    padding: 6rem 0;
}

.item{
    display: grid;
    justify-content: center;
    align-items: center;
}

.result{
    display: grid;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #232323;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.foot{
    color: antiquewhite;
}
@media only screen and (max-width: 768px) {
    .nameblock{
        display: grid;
        justify-content: space-evenly;
        padding: 3rem 6rem;
        margin: 0 0 0 10rem;
    }
}