@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Ubuntu:wght@500&display=swap');

body{
    background-image: url(bg.jpg);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.tnc{
    z-index: 100000;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #000;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.title{
    font-size: 3rem;
    padding: 1.5rem 0 0 0;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

.nameblock{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.item{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.result{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#percentage{
    color: azure;
    width: 8rem;
    height: 8rem;
    background-color: red;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
}

#comp{
    color: azure;
    width: fit-content;
    background-color: red;
    border-radius: 10pxs;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}

#check{
    margin-bottom: 10rem;
}
footer {
    font-size: .8rem;
    background-color: #232323;
    position: fixed;
    height: 5rem;
    bottom: 0;
    width: 100%;
}

.foot{
    color: antiquewhite;
}
@media only screen and (max-width: 768px) {
    .nameblock{
        display: grid;
        justify-content: space-evenly;
        padding: 3rem 6rem;
        margin: 0 0 0 10rem;
    }
}